<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="TradeIntelligenceDataSearch" connectionString="Data Source=DESKTOP-OA4PID8;Initial Catalog=TradeIntelligenceDataSearch;User ID=IT;Password=rohituser26;" providerName="System.Data.SqlClient" />-->
		<add connectionString="data source=KOMAL_C08196\SQLEXPRESS;Database=TradeIntelligenceDataSearch;User ID=sa; Password=C23dVu@Z6CED#4c$;" name="TradeIntelligenceDataSearch" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--<add key="ZipPath" value="D:\Running Project\MIS_Data\ZipFolder"/>-->
		<add key="ZipPath" value="E:\MIS_Data\ZipFolder"/>
		<!--<add key="ZipPath" value="D:\Running Project\MIS_Data\ZipFolder"/>-->
	</appSettings>
</configuration>